.rlmarnone {
    margin-left: none;
    margin-right: none;
}

body {
    margin: 0;
    background-image: url("../foto/wallpaper.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}